#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.syntax-highlighter-container {
  position: relative;
}

.copy-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.info-icon {
  opacity: 0.7;
  transition: opacity 0.2s;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}


/* Loader author: https://github.com/Afif13/*/
.loader {
  display: inline-grid;
  padding: 5px;
  background: #fff;
  filter: blur(4px) contrast(12);
}

.loader:before {
  content: "";
  height: 40px;
  aspect-ratio: 3;
  --c: #0000 64%, #000 66% 98%, #0000 101%;
  background:
    radial-gradient(35% 146% at 50% 159%, var(--c)) 0 0,
    radial-gradient(35% 146% at 50% -59%, var(--c)) 100% 100%;
  background-size: calc(200%/3) 50%;
  background-repeat: repeat-x;
  -webkit-mask: repeating-linear-gradient(90deg, #000 0 10%, #0000 0 20%);
  animation: l12 .8s infinite linear;
}

@keyframes l12 {
  to {
    background-position: -200% 0, -100% 100%
  }
}

.flip-container {
  perspective: 1000px;
}

.flip-card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.flip-card.flipped {
  transform: rotateY(180deg);
}

.flip-card .card-body {
  backface-visibility: hidden;
}

.react-flow__handle.custom-handle {
  width: 16px;
  height: 16px;
  background-color: #0d6dfd;
  border: 2px solid white;
  border-radius: 50%;
}
